.content{
  margin: 20px auto 0;
  padding: 0 10px;
  max-width: 1300px;

grid-gap: 10px;
  justify-content: center;
}
.card-wrapper {
  width: 200px;
 min-height: 100px; 
 background-color: rgb(219, 215, 216);
 color: rgb(56, 56, 56);
 padding: 20px;
 border-radius: 5px;
}